.logo {
  height: 100px;
}

.avatar {
  height: 150px;
}

.imgproy {
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.vizprev {
  background-color: #eee;
  border: 1px solid #888;
}

.eje {
  font-family: 'Roboto Condensed';
  font-size: 14px;
}

.titulo-grafica {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
}
