.logo {
  height: 100px;
}

.avatar {
  height: 150px;
}

.imgproy {
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.vizprev {
  background-color: #eee;
  border: 1px solid #888;
  height: 300px;
}

